<div id="contact">

	<article class="panel">
		<h1>Contact</h1>

		<p>Please contact me on one of the channels below.</p>
		<ul class="contactMe">
			<li><p>email me at <a href="mailto:kylebarlow@musician.com">kylebarlow@musician.com</a></p></li>
			<li><p>tweet me at <a target="_blank" href="https://twitter.com/KyleBarl0w">https://twitter.com/KyleBarl0w</a></p></li>
			<li><p>connect with me at <a target="_blank" href="https://www.linkedin.com/in/kylebarl0w">https://www.linkedin.com/in/kylebarl0w</a></p></li>
			<li><p>find my code at <a target="_blank" href="https://github.com/kbazl3">https://github.com/kbazl3</a></p></li>
			<li><p>phone me at <a rel="telephone" title="Call Mark on" href="tel://8018888197">8018888197</a></p></li>
		</ul>

	</article>
</div>
