<script src="/vendor/js/jquery.bxslider.min.js" type="text/javascript" charset="utf-8"></script>
<div id="clients">
	<article class="panel">
		<h1>Projects</h1>
		<p>Below is a list of some projects I've been working on. </p>


		<h2>Guitar Bazaar - Guitar Shop</h2>
		<div class="image-wrap">
			<a href="http://guitarbazaar.trade/#/" target=_blank>
				<img src="./app/images/guitarBazaar.png" alt="TEMP">
			</a>
			<p class="show-section" ng-click="app.guitarBazaar=!app.guitarBazaar"><span class="link"><span ng-if="!app.guitarBazaar"><span class="icon-wrap-show"></span>Show</span><span ng-if="app.guitarBazaar"><span class="icon-wrap-close"></span>Hide</span> details</span>
			</p>
		</div>

		<section ng-if="app.guitarBazaar">
			<div class="wrap">
				<p>
					<a href="https://github.com/kbazl3/GuitarShop">Check out the project on Github!</a>
				</p>
				<br>
				<p>Guitar Bazaar is a hypothetical guitar shop, which is similar to Guitar Center. It's a dream of mine to someday own a shop that would allow me to record music, fix/upgrade guitars, buy and sell used guitars and teach others how to play. It was easy
					to put in the work for this site because I chose something I was passionate about.  This site is hosted on digital ocean.</p>
				<p>Technologies include:</p>
				<ul>
					<li>
						<p>Node</p>
					</li>
					<li>
						<p>Express</p>
					</li>
					<li>
						<p>Angular</p>
					</li>
					<li>
						<p>Bootstrap</p>
					</li>
					<li>
						<p>MongoDB</p>
					</li>
					<li>
						<p>Gulp</p>
					</li>
				</ul>

				<!-- <ul rn-carousel rn-carousel-control="true" class="image">
					<li>
					  <img src="./app/images/guitarBazaar.png" alt="" />
					</li>
					<li>
					  <img src="../app/images/mini-01.png" alt="" />
					</li>
					<li>
					  <img src="../app/images/mini-01.png" alt="" />
					</li>
				</ul> -->

			</div>
		</section>

		<hr />

		<h2>RainCheck - A Weather App</h2>
		<div class="image-wrap">
			<a href="http://kbazl3.github.io/RainCheck/#/" target=_blank>
				<img src="./app/images/rainCheck.png" alt="TEMP">
			</a>
			<p class="show-section" ng-click="app.rainCheck=!app.rainCheck"><span class="link"><span ng-if="!app.rainCheck"><span class="icon-wrap-show"></span>Show</span><span ng-if="app.rainCheck"><span class="icon-wrap-close"></span>Hide</span> details</span>
			</p>
		</div>

		<section ng-if="app.rainCheck">
			<div class="wrap">
				<p>A Real-Time Web Based Weather Application</p>
				<p>Technologies include:</p>
				<ul>
					<li>
						<p>CSS</p>
					</li>
					<li>
						<p>HTML 5</p>
					</li>
					<li>
						<p>AngularJS</p>
					</li>
					<li>
						<p>Google Maps API</p>
					</li>
					<li>
						<p>Dark Sky API</p>
					</li>
				</ul>

				<!-- <ul rn-carousel rn-carousel-control="true" class="image">
					<li>
					  <img src="../app/images/mini-01.png" alt="" />
					</li>
					<li>
					  <img src="../app/images/mini-01.png" alt="" />
					</li>
					<li>
					  <img src="../app/images/mini-01.png" alt="" />
					</li>
				</ul> -->
			</div>
		</section>

		<h2>Star Wars - The Encyclopedia</h2>
		<h3>Github: https://github.com/kbazl3/starWars</h3>
		<div class="image-wrap">
			<a href="http://kbazl3.github.io/starWars/#/" target=_blank>
				<img src="./app/images/StarWarsEncyclopedia.png" alt="TEMP">
			</a>
			<p class="show-section" ng-click="app.starwars=!app.starwars"><span class="link"><span ng-if="!app.starwars"><span class="icon-wrap-show"></span>Show</span><span ng-if="app.starwars"><span class="icon-wrap-close"></span>Hide</span> details</span>
			</p>
		</div>

		<section ng-if="app.starwars">
			<div class="wrap">
				<p>An extensive Star Wars Encyclopedia</p>
				<p>Technologies include:</p>
				<ul>
					<li>
						<p>CSS</p>
					</li>
					<li>
						<p>HTML 5</p>
					</li>
					<li>
						<p>AngularJS</p>
					</li>
					<li>
						<p>Chart.js</p>
					</li>
				</ul>

				<!-- <ul rn-carousel rn-carousel-control="true" class="image">
					<li>
					  <img src="../app/images/mini-01.png" alt="" />
					</li>
					<li>
					  <img src="../app/images/mini-01.png" alt="" />
					</li>
					<li>
					  <img src="../app/images/mini-01.png" alt="" />
					</li>
				</ul> -->
			</div>
		</section>

		<h2>Pomodoro - Time Management Tool</h2>
		<div class="image-wrap">
			<a href="https://kbazl3.github.io/Pomodoro-App/" target=_blank>
				<img src="./app/images/pomz.png" alt="TEMP">
			</a>
			<p class="show-section" ng-click="app.pomodoro=!app.pomodoro"><span class="link"><span ng-if="!app.pomodoro"><span class="icon-wrap-show"></span>Show</span><span ng-if="app.pomodoro"><span class="icon-wrap-close"></span>Hide</span> details</span>
			</p>
		</div>

		<section ng-if="app.pomodoro">
			<div class="wrap">
				<p>
					<a href="https://github.com/kbazl3/GuitarShop">Check out the project on Github!</a>
				</p>
				<br>
				<p>The Pomodoro Technique is a time management method developed by Francesco Cirillo in the late 1980s. The technique uses a timer to break down work into intervals traditionally 25 minutes in length, separated by short breaks.</p>
				<p>Technologies include:</p>
				<ul>
					<li>
						<p>Angular</p>
					</li>
					<li>
						<p>HTML5</p>
					</li>
					<li>
						<p>CSS3</p>
					</li>
				</ul>

				<!-- <ul rn-carousel rn-carousel-control="true" class="image">
					<li>
					  <img src="./app/images/guitarBazaar.png" alt="" />
					</li>
					<li>
					  <img src="../app/images/mini-01.png" alt="" />
					</li>
					<li>
					  <img src="../app/images/mini-01.png" alt="" />
					</li>
				</ul> -->

			</div>
		</section>

		<h2>MultiVision - Web Dev Tutorials</h2>
		<div class="image-wrap">
			<a href="https://cherry-shortcake-76687.herokuapp.com/" target=_blank>
				<img src="./app/images/multiVision.png" alt="TEMP">
			</a>
			<p class="show-section" ng-click="app.multiVision=!app.multiVision"><span class="link"><span ng-if="!app.multiVision"><span class="icon-wrap-show"></span>Show</span><span ng-if="app.multiVision"><span class="icon-wrap-close"></span>Hide</span> details</span>
			</p>
		</div>

		<section ng-if="app.multiVision">
			<div class="wrap">
				<p>
					<a href="https://github.com/kbazl3/MultiVision">Check out the project on Github!</a>
				</p>
				<br>
				<p>MultiVision is a project I created while following along with the tutorial at <a href="https://app.pluralsight.com/library/courses/building-angularjs-nodejs-apps-mean/table-of-contents"> this tutorial at Pluralsight.</a>  It went over a lot different techniques such as html templating with Jade or using stylus for your css.  It was fun using Heroku to host as well.  I eventually want to write small tutorials on specific subjects and publish them on this site so check back in the future for an up to date site.</p>
				<p>Technologies include:</p>
				<ul>
					<li>
						<p>Angular</p>
					</li>
					<li>
						<p>Bootstrap</p>
					</li>
					<li>
						<p>Jade</p>
					</li>
					<li>
						<p>Stylus</p>
					</li>
					<li>
						<p>Heroku</p>
					</li>
					<li>
						<p>MongoDB</p>
					</li>
					<li>
						<p>Node</p>
					</li>
				</ul>

				<!-- <ul rn-carousel rn-carousel-control="true" class="image">
					<li>
					  <img src="./app/images/guitarBazaar.png" alt="" />
					</li>
					<li>
					  <img src="../app/images/mini-01.png" alt="" />
					</li>
					<li>
					  <img src="../app/images/mini-01.png" alt="" />
					</li>
				</ul> -->

			</div>
		</section>


	</article>
</div>
